/* global.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

header {
    background-color: darkgreen;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    background-color: darkgreen;
    color: white;
    margin: 5px;
    padding: 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    background-color: darkgreen;
}

nav ul li a:hover {
    background-color: darkgreen
}

h2 {
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    color: black;
    margin: 10px;
    padding: 10px;
}

section {
    padding: 20px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btn:hover {
    background-color: #218838;
}

form {
    margin: 20px auto;
    width: 300px;
    display: flex;
    flex-direction: column;
}

form input,
form textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

form button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #218838;
}